String of arrays

In [2]:
s = 'Shivam'
print(s[3])

v

Slicing

In [5]:
a ="Shivam Vishakarma"

# get a rage of values
print(a[2:10])

ivam Vis

In [7]:
print(a[-15:-6])

ivam Vish

In [8]:
print(a[2::2])

ia ihkra

String Methods

In [9]:
# printing lower case
print(a.lower())

shivam vishakarma

In [10]:
# printing uppercase
print(a.upper())

SHIVAM VISHAKARMA

In [11]:
# Replacing the letter
print(a.replace('a', 'o'))

Shivom Vishokormo

In [13]:
# spliting
print(a.split('a'))
print(a.split(" "))

['Shiv', 'm Vish', 'k', 'rm', '']
['Shivam', 'Vishakarma']

String Concatination

In [14]:
# Combing two string
a = 'Shivam'
b = 'Vishwakarma'
print(a+" "+b)

Shivam Vishwakarma

Opration on text files

In [22]:
file = open("data.txt", "w+")

In [23]:
for i in range(10):
    file.write("Shivam Vishwakarma is %d\r\n" % (i+1))

In [24]:
file.close()

In [27]:
# appending data two file
file = open('data.txt', 'a+')

In [28]:
for i in range(3):
    file.write("Shivam is great %d\r\n" % (i + 1))

In [29]:
file.close()

Reading the files

In [30]:
# reading the file
file = open("data.txt", "r")

In [31]:
if file.mode == 'r':
    content = file.read()

In [32]:
print(content)

Shivam Vishwakarma is 1
Shivam Vishwakarma is 2
Shivam Vishwakarma is 3
Shivam Vishwakarma is 4
Shivam Vishwakarma is 5
Shivam Vishwakarma is 6
Shivam Vishwakarma is 7
Shivam Vishwakarma is 8
Shivam Vishwakarma is 9
Shivam Vishwakarma is 10
Shivam is great 1
Shivam is great 2
Shivam is great 3
Shivam is great 1
Shivam is great 2
Shivam is great 3

### Text Preprocessing

In [1]:
import nltk
import string
import re

In [33]:
def to_lower(text):
    return text.lower()

input = "ShiVam iS tHe gReaTest bOy oN tHis plaNet"
a = to_lower(input)

print(a)

shivam is the greatest boy on this planet

In [34]:
def to_upper(text):
    return text.upper()

print(to_upper(input))

SHIVAM IS THE GREATEST BOY ON THIS PLANET

In [37]:
def remove_num(text):
    result = re.sub(r'\d+',"",text)
    return result

In [56]:
input = "shivam got 100 out of 100 "
remove_num(input)

'shivam got  out of  '

In [55]:
import inflect

def num_to_word(text):
    # Create an inflect engine instance
    p = inflect.engine()

    # Splitting the word
    split_text = text.split()

    # Initializing the empty list
    str_list = []

    # Adding words to the list
    for i in split_text:
        if i.isdigit():
            str_list.append(p.number_to_words(i))
        else:
            str_list.append(i)

    result = ' '.join(str_list)

    return result

# Example usage
input_text = "I have 2 apples and 3 oranges."
print(num_to_word(input_text))

I have two apples and three oranges.

### Remove punctuation.

In [8]:
# defing a function to remove the punctuations
import string

def remove_punctuation(text):
    translator = str.maketrans('', '', string.punctuation)
    return text.translate(translator)

In [9]:
input = 'shivam is 100% the great boy ?? you all know !! that naa \\\\\ '
remove_punctuation(input)

'shivam is 100 the great boy  you all know  that naa  '